
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/*----Parallaxing-START-------------------------------*/
.parallaxing{
    height: 180px;
}

/*----Nav-START------------------------------------*/
nav{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(59, 59, 59, 0.89);
    position: fixed;
    width: 100%;
    margin:0px 0px 0px 0px;
    padding:0px;
    justify-content: center;
    align-items: center;
}
nav ul{
    color: white;
    display: flex;
    padding: 0;
    margin:6px 0px 10px 0px;
    list-style: none;
}
nav  li{
    list-style: none;
}
nav li a{

    color:white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    margin:0px 15px 5px 15px;
    text-decoration: none; 
}
nav li a:hover{
    border-bottom:5px solid rgb(0, 0, 0);
    color:orange;
    text-transform: uppercase;
    text-decoration: none;
}

#miniNav a{ 
    margin:5px;
    font-size: 30px;
    border: none;
}



/*----SVG Logo-START-------------------------------*/
#group_sirlidi_letters 
{
    fill: rgb(0, 0, 0);
}
#group_sirlidi_underline
{
    fill: rgb(37, 37, 37);
}
#slogan_text
{
    fill: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}
.my_logo{

    fill:rgb(241, 137, 0);

}

/*----General main CSS----------------------------*/
main{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 137, 0);
    border-top:10px solid rgba(255, 255, 255, 0);
}
section{
    width: 100%;
    margin:2%;
}


header h1{
    color:white;
    font-family: 'Kaushan Script', cursive;
    font-size: 10vh;
    margin: 4% 4% 0 4%;
}

header h2{
    color: rgb(34, 34, 34);
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3vh;
    margin: 1% 4% 4% 4%;
}

header h3{
    font-size: 2vh;
    margin: 1% 4% 0% 4%;    
}

header p{
    color: rgb(0, 0, 0);
    margin:0 4% 10% 4%;   
}

header i{
    font-size: 80px;
    margin:5px;
}

/*----Specifik for Code section----------------------------*/
#Code {
    color:black;
    background-color: white;
}
#Code i {
    color:rgb(241, 137, 0);
    background-color: white;
}
#Code h1{
    color:rgb(241, 137, 0);
    font-family: 'Cutive Mono', monospace;
}
#Code h3{
    font-family: 'Roboto', sans-serif;
    color:rgb(0, 0, 0);
    margin:0px 0px 20px 4%;
}

/*----Specifik for Design section----------------------------*/
#Design h3{
    font-family: 'Roboto', sans-serif;
    margin:0px 0px 20px 4%;
    color:rgb(2, 2, 2);  
}
#Design i {
   
    color:rgb(255, 255, 255); 
    
}

/*----Specifik for My work section----------------------------*/
#My-Work{
    display: flex;
    flex-direction: column;
    font-family: 'Kreon', serif;
}

#My-Work h1{

    font-family: 'Kreon', serif;
    margin: 2% 2% 0 2%;
  
    
}
#My-Work h2{

    margin: 1% 2% 2% 2%;
    
}

.my-work-card-holder{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:0px 0px 55px 0px;
}

.card-item{
    
    flex: 1;
    border:6px solid white;
    height: 650px;
    margin:0.5%;
    background-color: white;
    transition: 1s;
}

.card-item:active{
    
    flex: 900px;
    height:650px;
    margin:0.5%;
    background-color: rgb(255, 255, 255);
}

.card-item h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    
}
.card-item img{
    
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/*----Skillbar-START--------------------------------------*/
.my-skills{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.my-skills p{

   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   text-transform: uppercase;
   padding:0;
   margin: 0px 0px 0px 35px;
   align-self: flex-start;
   
}

.my-skills-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}

#my-skills-design{

    background-color:rgba(0, 0, 0, 0);
    border: none;
}


.skill-bar{

    background-color:rgb(71, 71, 71);
    border:1px solid rgb(71, 71, 71);
    border-radius: 3px;
    width: 90%;
    padding: 2px;
    margin:4px 0px 8px 0px;
}

#skill-design-bar{

    background-color: white;
    border:1px solid white;    
}

.skills{

    text-align: right;
    color: white;
    padding: 10px;
    margin: 5px;
}

.html{width: 90%;background: rgb(241, 137, 0)}
.css{width: 70%;background: rgb(11, 221, 11)}
.wordpress{width: 40%;background: rgb(61, 0, 204)}
.javascript{width: 40%;background: rgb(185, 21, 190)}
.bootstrap{width: 40%;background: rgb(0, 60, 68)}

.pixel{width: 90%;background: rgb(223, 137, 24)}
.vector{width: 85%;background: rgb(11, 15, 228)}
.threeD{width: 80%;background: rgb(62, 5, 100)}
.art{width: 70%;background: rgb(82, 163, 82)}
.foto{width: 60%;background: rgb(199, 31, 26)}


/*----Footer-START--------------------------------------*/
footer{

    background-color: rgb(71, 71, 71);
    display: flex;
    flex-direction: row;
    justify-content: start;

   
}
.footer-item{
    margin:2% 0% 2% 3%;
    padding: 10px;
    border: 5px solid white;
}

 .footer-item h2{ 
    color:rgb(241, 137, 0);
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin:0;
    text-align: center;
    padding: 8px;
}

.footer-item a{
   font-style: none;
   font-size: 60px;
   text-decoration: none;
   color:white;
   margin-left:5px;
 }

 .footer-item a:hover{
    color:orange;
}


/*----@Media START--------------------------------------*/


@media (max-width:1270px){

    /*--makes card item smaller--*/
    .card-item{
    
        flex: 1;
        border:6px solid white;
        height: 450px;
        margin:0.5%;
        background-color: white;
        transition: 1s;
    }
    
    .card-item:active{
        
        flex: 500px;
        height:450px;
        margin:0.5%;
        background-color: rgb(255, 255, 255);
    }

}
@media (max-width:870px){


    main{
        border-top:20px solid rgba(255, 255, 255, 0);
        flex-direction: column;
        width: 100%;
        }
    .parallaxing{
         height: 130px;
        }

    section{
        width: 100%;
    }
    /*--makes card item smaller--*/
    .card-item{
    
        flex: 1;
        border:3px solid white;
        height: 350px;
        margin:0.5%;
        background-color: white;
        transition: 1s;
    }
    .card-item:active{
        
        flex: 300px;
        height:350px;
        margin:0.5%;
        background-color: rgb(255, 255, 255);
    }
    .card-item h3{
        font-size: 0.7em;
    }

    /*--changes the nav--*/
    nav li a{
        font-size: 14px;
        margin-left:15px;
    }

    nav li a:hover{
        border-bottom:3px solid rgb(0, 0, 0);      
        margin-left:15px;
        
    }

    #miniNav a{ 
        margin:5px;
        font-size: 20px;
        border: none;
    }
 
}
@media (max-width:600px){

    main{
        min-height: 0;
        border-top:30px solid rgba(255, 255, 255, 0);
    }

    .parallaxing{

        height: 100px;
    }
    /*--makes card item smaller--*/

    
    .card-item{
    
        flex: none;
        height:300px;
        width: 240px;
      
    }
    
    .card-item:active{
        flex: none;
        height:300px;
        width: 240px;
    }
    
    /*--changes the nav--*/
    nav li a{
        font-size: 14px;
        margin-left: 3px;
       
       
    }
    nav li a:hover{
        border-bottom:none;
        color:orange;        
        margin-left:3px;
    }

    
}
@media (max-width:520px){

    main{
        border-top:30px solid rgba(255, 255, 255, 0);
    }
    /*--makes card item smaller--*/

    
    .card-item{
        border:6px solid white;
        height: 550px;
        width: 430px;
    }
    
    .card-item:active{
        height:550px;
        width: 430px;
    }
    
    /*--changes the nav--*/
    nav li a{
        font-size: 14px;
        margin-left: 3px;
       
    }
    nav li a:hover{
        border-bottom:none;
        color:orange;        
        margin-left:3px;
    }

    footer{
    justify-content: center;
    }
    
}
@media (max-width:475px){

    main{
        flex-direction: column;
        width: 100%;
        min-height: 0;
        border-top:60px solid rgba(255, 255, 255, 0);
    }
    /*--makes card item smaller--*/

    .card-item{
        border:3px solid white;
        height: 410px;
        width: 300px;
        margin-bottom:5px;
      
    }
    
    .card-item:active{
        
        height:410px;
        width: 300px;
    }
    
    header i{
        font-size: 55px;
        margin:2px;
    }
     

}
@media (max-width:395px){

    /*--changes the nav--*/

    nav ul{
        margin:8px 0px 0px 0px;
    }
    nav li a{
        margin-bottom: 0px;
    }
   
    #miniNav { 
        margin-bottom: 5px;
    }
    
    
}