
:root{
    --main-color:rgb(224, 166, 4);
    --light-color:rgb(255, 255, 255);
    --grey-color:rgb(59, 59, 59);
    --dark-color:rgb(0, 0, 0);

    --shadow:1px 1px 4px #3b3b3b79; 
}

html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*----Parallaxing-START-------------------------------*/
.parallaxing{
    height: 180px;
   
}

/*----Nav-START------------------------------------*/
nav{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(59, 59, 59, 0.89);
    position: fixed;
    width: 100%;
    margin:0px 0px 0px 0px;
    padding:0px;
    justify-content: center;
    align-items: center;
}
nav ul{
    color:var(--light-color);
    display: flex;
    padding: 0;
    margin:6px 0px 10px 0px;
    list-style: none;
}
nav li{
    list-style: none;
}
nav li a{

    color:var(--light-color);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    margin:0px 15px 5px 15px;
    text-decoration: none; 
}
nav li a:hover, nav li a:focus{
    border-bottom:5px solid var(--dark-color);
    color:var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    
}

#miniNav a{ 
    margin:5px;
    font-size: 30px;
    border: none;
}



/*----SVG Logo-START-------------------------------*/
#group_sirlidi_letters 
{
    fill:var(--dark-color);
}
#group_sirlidi_underline
{
    fill:var(--grey-color);
}
#slogan_text
{
    fill:var(--dark-color);
    font-size: 10px;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}
.my_logo{

    fill:var(--main-color);

}

/*----General main CSS----------------------------*/
.main-section{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    border-top:25px solid rgba(255, 255, 255, 0);
    margin:0;
}
section{
    width: 100%;
    margin:2%;
}

header{
    width: 100%;
    margin:2% 2% 0% 2%;
}

header h1{
    color:var(--light-color);
    font-family: 'Kaushan Script', cursive;
    font-size: 10vh;
    margin: 4% 4% 0 4%;
    text-shadow:var(--shadow); 
}

header h2{
    color: var(--grey-color);
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3vh;
    margin: 1% 4% 4% 4%;
}

header h3{
    font-size: 2vh;
    margin: 1% 4% 0% 4%;    
}

header p{
    color: var(--dark-color);
    margin:0 4% 10% 4%;   
}

header i{
    font-size: 80px;
    margin:5px;
    text-shadow:var(--shadow); 
}
/*----Specifik for about section----------------------------*/
#About p {
    color:var(--light-color);
    font-size: 3vh;
    
}

#About img {
    
    width: 100%
    
}

/*----Specifik for Code section----------------------------*/
#Code {
    color:var(--dark-color);
    background-color: var(--light-color);
}
#Code i {
    color:var(--main-color);
    background-color: var(--light-color);
}
#Code h1{
    color:var(--main-color);
    font-family: 'Cutive Mono', monospace;
}
#Code h3,#Design h3{
    font-family: 'Roboto', sans-serif;
    color:var(--dark-color);
    margin:0px 0px 20px 4%;
    font-size: 3vh;
}

/*----Specifik for Design section----------------------------*/

#Design i {
   
    color:var(--light-color);
    
}

/*----Specifik for My work section----------------------------*/
#My-Work{
    display: flex;
    flex-direction: column;
    font-family: 'Kreon', serif;
}

#My-Work h1{

    font-family: 'Kreon', serif;
    margin: 2% 2% 0 2%;
  
    
}
#My-Work h2{

    margin: 1% 2% 2% 2%;
    
}

.my-work-card-holder{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:0px 0px 55px 0px;
}

.card-item{
    
    flex: 1;
    border:6px solid var(--light-color);
    height: 650px;
    margin:0.5%;
    background-color:var(--light-color);
    box-shadow:var(--shadow); 
    transition: 1s;
}

.card-item:active{
    
    flex: 900px;
    height:650px;
    margin:0.5%;
    background-color:var(--light-color);
}

.card-item h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    
}
.card-item img{
    
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/*----Skillbar-START--------------------------------------*/
.my-skills{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.my-skills p{

   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   text-transform: uppercase;
   padding:0;
   margin: 0px 0px 0px 35px;
   align-self: flex-start;
   
}

.my-skills-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    border: 5px solid var(--light-color);
    border-radius: 0px;
    background-color: var(--light-color);
}

#my-skills-design{

    background-color:rgba(0, 0, 0, 0);
    border: none;
}


.skill-bar{

    background-color:var(--grey-color);
    border:1px solid var(--grey-color);
    box-shadow:var(--shadow);
    border-radius: 3px;
    width: 90%;
    padding: 2px;
    margin:4px 0px 8px 0px;
}

.skills-design{

    background-color: var(--light-color);
    border:1px solid var(--light-color);    
}

.skills{

    text-align: right;
    color:var(--light-color);
    padding: 10px;
    margin: 5px;
}

.html{width: 90%;background: rgb(241, 137, 0)}
.css{width: 70%;background: rgb(11, 221, 11)}
.wordpress{width: 40%;background: rgb(61, 0, 204)}
.javascript{width: 40%;background: rgb(185, 21, 190)}
.bootstrap{width: 40%;background: rgb(0, 60, 68)}

.pixel{width: 90%;background: rgb(223, 137, 24)}
.vector{width: 85%;background: rgb(11, 15, 228)}
.threeD{width: 80%;background: rgb(62, 5, 100)}
.art{width: 70%;background: rgb(82, 163, 82)}
.foto{width: 60%;background: rgb(199, 31, 26)}


/*----Footer-START--------------------------------------*/
footer{

    background-color: var(--grey-color);
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-top:20px solid rgb(37, 37, 37);
    

   
}
.footer-item{
    margin:2% 0% 2% 3%;
    padding: 10px;
    border: 5px solid var(--light-color);
    box-shadow:var(--shadow); 
}

 .footer-item h2{ 
    color:var(--main-color);
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin:0;
    text-align: center;
    padding: 8px;
}

.footer-item a{
   font-style: none;
   font-size: 60px;
   text-decoration: none;
   color:var(--light-color);
   margin-left:5px;
 }

 .footer-item a:hover, .footer-item a:focus{
    color:var(--main-color);
}


/*----@Media START--------------------------------------*/
@media (max-width:1366px){

    /*--makes card item smaller--*/
    .card-item{
        height: 385px;
    }
    .card-item:active{
        height:385px;
    }

}

@media (max-width:870px){


    .main-section{
        flex-direction: column;
        width: 100%;
        }
    .parallaxing{
         height: 130px;
        }

    
    /*--makes card item smaller--*/
    .card-item{
        border:3px solid var(--light-color);
        height: 350px;
    }
    .card-item:active{
        flex: 300px;
        height:350px;
    }
    .card-item h3{
        font-size: 0.7em;
    }

    /*--changes the nav--*/
    nav li a{
        font-size: 14px;
        margin-left:15px;
    }

    nav li a:hover{
        margin-left:15px;
        
    }

    #miniNav a{ 
        margin:5px;
        font-size: 20px;
        border: none;
    }
 
}
@media (max-width:600px){

    .main-section{
        min-height: 0;
        border-top:30px solid rgba(255, 255, 255, 0);
    }

    .parallaxing{

        height: 100px;
    }
    /*--makes card item smaller--*/

    
    .card-item{
        flex: none;
        height:300px;
        width: 240px;
      
    }
    
    .card-item:active{
        flex: none;
        height:300px;
        width: 240px;
    }
    
    /*--changes the nav--*/
    nav li a{
        font-size: 14px;
        margin-left: 3px;
       
       
    }
    nav li a:hover{
        border-bottom:none;
        color:var(--main-color);      
        margin-left:3px;
    }

    
}
@media (max-width:520px){

    .main-section{
        border-top:30px solid rgba(255, 255, 255, 0);
    }
    /*--makes card item smaller--*/

    
    .card-item{
        border:6px solid var(--light-color);
        height: 550px;
        width: 430px;
    }
    
    .card-item:active{
        height:550px;
        width: 430px;
    }
    
    /*--changes the nav--*/
    nav li a{
        font-size: 14px;
        margin-left: 3px;
       
    }
    nav li a:hover{
        border-bottom:none;
        color:var(--main-color);      
        margin-left:3px;
    }

    footer{
    justify-content: center;
    }
    
}
@media (max-width:475px){

    .main-section{
        flex-direction: column;
        width: 100%;
        min-height: 0;
        border-top:60px solid rgba(255, 255, 255, 0);
    }
    /*--makes card item smaller--*/

    .card-item{
        border:3px solid var(--light-color);
        height: 410px;
        width: 300px;
        margin-bottom:5px;
      
    }
    
    .card-item:active{
        
        height:410px;
        width: 300px;
    }
    
    header i{
        font-size: 55px;
        margin:2px;
    }
     

}
@media (max-width:395px){

    /*--changes the nav--*/

    nav ul{
        margin:8px 0px 0px 0px;
    }
    nav li a{
        margin-bottom: 0px;
    }
   
    #miniNav { 
        margin-bottom: 5px;
    }
    
    
}